<h1>Editing component</h1>

<%= render "form", kit_component: @kit_component %>

<br>

<div>
  <%= link_to "Show this component", @kit_component %> |
  <%= link_to "Back to components", kit_components_path %>
</div>
