@tailwind base;
@tailwind components;

/* Additional styles */
@import "./additional-styles/utility-patterns.css";
@import "./additional-styles/range-slider.css";
@import "./additional-styles/toggle-switch.css";
@import "./additional-styles/flatpickr.css";
@import "./additional-styles/theme.css";

@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
